
$color-primary: #0CBAD3;
$color-secondary: #07678F;
$color-alternative: rgba(226, 214, 196, 0.35);
$color-alternative-blue: #18768921;
$color-black: #000000;
$color-white: #ffffff;
$color-shadow: rgba(0, 0, 0, 0.53);

$font-primary:  'Mohave', sans-serif;
$font-titles: 'Mostin', sans-serif;
$font-main: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-alternative: 'Qamila', sans-serif;

$size-xsmall: 1em;
$size-small: 1.2em;
$size-medium: 1.5em;
$size-minlarge: 2em;
$size-large: 2.5em;


