/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*VARIABLES*/
@import 'variables';

/*MAIN*/
html {
    font-size: 62.5%;
}

body {
    margin: 0%;
    padding: 0;
}

.header {
    height: 30rem;
}

.nav {
    position: relative;
    width: 100%;
    background: rgba(0, 0, 0, 0.171);
    opacity: 0.9;
    display: flex;
    align-items: center;
    padding-inline-end: 5%;
    padding-inline-start: 5%;
}


.nav__logo {
    width: 50px;
    height: 50px;
    margin: auto;
}

.nav__marca{
    text-decoration: none;
    color: $color-white;
    font-family: $font-primary;
    font-style: normal;
    font-weight: bold;
    font-size: $size-small;    
    display: flex;
    align-items: center;
    flex-direction: column;
    &:hover{
        color: $color-white; 
    }
}

.nav__items {
    font-family: $font-primary;
    font-style: normal;
    font-size: $size-medium;
    font-weight: bold;
    transition: transform .5s ease;
    text-align: center;
    color: $color-secondary;
    &:hover{
        transform: scale(1.1);
        color: $color-secondary;
    }
}

#activo{
    color: $color-secondary;
    text-decoration: overline;
    text-decoration-thickness: 3px;
}

.nav__lista{
    gap: 3rem;
    display: flex;
    align-items: center;
}

.nav__banner__index {
    width: 100%;
    height: 40rem;
    background-image: url(../IMG/Playa.jpg);
    background-size: cover;
    background-position-x: center;
    padding-top: 0%;
}
.nav__banner__destinations{
@extend .nav__banner__index;
    background-image: url(../IMG/Avion.jpg);
}

.nav__banner__experiences{
@extend .nav__banner__index;
    background-image: url(../IMG/Experiences2.png);
}

.nav__banner__about{
    @extend .nav__banner__index;
    background-image: url(../IMG/abooutus.jpg);
}

.nav__banner__contact{
    @extend .nav__banner__index;
    background-image: url(../IMG/Contact.jpg);
}
.nav__titulo__container{
height: 20rem;
display: flex;
align-items: flex-end;
justify-content: flex-start;
padding-left: 2rem;
}
 
.nav__titulo {
    position:absolute;
    display: block;
    color: $color-white;
    width: 250px;
    left: 15px;
    top: 170px;
    font-family: $font-primary;
    font-weight: bolder;
    font-size: $size-large;
    color: $color-white;
    color: #ffffff;
    text-shadow: 2px 2px 20px $color-shadow;
    margin: 0%;
}

.nav__titulo__color {
    color: $color-secondary;
    font-family: $font-alternative;
    font-weight: 500;
   font-size: $size-minlarge;
    margin: 0%;
}
.titulo__pages__container{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    height: 5rem;
}

.titulo__pages{
    position: relative;
    font-family: $font-primary;
    font-weight: bolder;
    font-size: $size-extralarge;
    color: #ffffff;
    text-shadow: 2px 2px 20px $color-shadow;
    margin: 0%;
    padding-right: 2rem;
}

.titulo__secundario {
    font-family: $font-primary;
    font-style: normal;
    font-weight: bolder;
    font-size: $size-large;
    color: $color-primary;
    text-align: center;
    margin: 0%;
    padding-bottom: 1rem;
}

.titulo__italic__bold {
    font-style: italic;
    font-weight: bold;
    font-size: $size-medium;
    margin: 0%;
}
.parrafo {
    font-family: $font-main;
    font-style: normal;
    font-weight: 300;
    font-size: $size-minlarge;
    color: $color-black;
    text-align: center;
    padding: 0%;
    margin: 0;
}

.parrafo__italic {
    font-family: $font-main;
    font-style:italic;
    font-weight: 400;
    font-size: $size-small;
    color: $color-black;
    text-align: center;
}

.titulo__footer{
color: $color-secondary;
font-family: $font-primary;
font-style: normal;
font-weight: 700;
font-size: $size-medium;
}

.my__button {
    border-radius: 20px;
    position: relative;
    background-color: $color-primary;
    border: none;
    width: 80px;
    height: 25px;
    margin: 2%;
    font-weight: bold;
    text-align: center;
    font-family: $font-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        color: $color-white;
    background-color: $color-secondary;
    text-decoration: none;
    }
}

.my__button__text{
    font-size: $size-small;
    text-decoration: none;
    color: $color-white;
    &:hover{
        color: $color-white;
    }
}

.my__button__mail{
@extend .my__button;
width: 180px;
margin: 0%;
margin-top: 1%;

}

.seccion__texto {
    padding: 4%;
    padding-bottom: 4%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion__texto__color{
    @extend .seccion__texto;
    background-color:  $color-alternative;
}

.seccion__intro {
    display: flex;
    background-color: $color-alternative;
    justify-content: center;
    align-items: center;
    margin: 0%;
}

.seccion__intro__columnas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    width: 250px;
    padding: 2rem;
    border-style: solid;
    border-radius: 2rem;
    border-color: #FFFFFF;
    border-width: 0.5rem;
    align-content: center;
}

.seccion__destinos {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.seccion__destinos__container {
    display: grid;
    grid-column: 1fr;
    grid-template-columns: .4fr .4fr;
    grid-template-rows: 1.1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    justify-content: center;
    align-items: space-between;
}

.seccion__destinos__img {
    border-radius: 10px;
    width: 15rem;
    height: 12rem;
    transition: transform .5s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}

.seccion__testimonials{
    background-color: $color-alternative;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.seccion__testimonials__caja {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding-right: 5%;
    padding-bottom: 3%;
    padding-left: 5%;
}

.seccion__experiences {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.seccion__experiences__container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}


.seccion__experiences__img {
    border-radius: 20px;
    width: 35rem;
    height: 6rem;
}

.video{
    margin-top: 1rem;
    height: 15rem;
    width: 30rem;
}

.seccion__epigrafe__video{
    padding-bottom: 2rem;
}
.seccion__hotels{
    background-color: $color-alternative;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.seccion__hotels__list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 1rem;
}

.seccion__hotels__list__container__blue{
    display: flex;
    background-color: $color-secondary;
    border-radius: 20px;
    height: 3rem;
    width: 30rem;
    align-items: center;
    justify-content: center;
    transition: transform .5s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}

.seccion__hotels__list__container__lgblue{
        @extend .seccion__hotels__list__container__blue;
        background-color: $color-primary;      
}


.seccion__hotels__items{
    display: flex;
    justify-content: center;
    font-size: $size-small;
    font-family: $font-main;
    font-weight: bold;
    text-shadow: 2px 2px 8px $color-black;
    padding: 4%;
    text-decoration: none;
    color: $color-white;
    &:hover{
        color: $color-white;
    }

}

.seccion__somedestinations{
    padding: 4%;
}

.seccion__somedestinations__container{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.seccion__somedestinations__caja{
    width: 300px;
    height: 60px;
}

.seccion__somedestinations__img{
    width: 300px;
    height: 60px;
}

.activities__img{
    @extend .seccion__experiences__img;
    transition: transform .5s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}
   
.titulo__card{
    @extend .titulo__secundario;
    font-size: $size-minlarge;
}

.parrafo__card{
    @extend .parrafo__italic;
    font-weight: 500;
}

.seccion__activities{
    @extend .seccion__experiences;
    background-color: $color-alternative;
}

.seccion__cruises{
    @extend .seccion__hotels;
    background-color: $color-white;
}

.my__footer {
    background-color: $color-alternative;
}

.form__style__text{
    font-family: $font-primary;
    font-weight: 500;
    font-size: $size-xsmall;
    text-decoration: none;
    color: $color-black;
}

.my__input{
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
}

.container__icon{
    transition: transform .5s ease-in-out;
    &:hover{
        text-decoration: underline;
        transform: scale(1.1)
    }
}

a iconify-icon{
    color: $color-black;
    transition: transform .4s ease-in-out;
    &:hover{
        color: $color-secondary;
    transform: scale(1.1)
    }
}

.carousel-item.active {
    display:block;
    padding-left: 10%;
    padding-right: 10%;
}

.form__labels{
    font-size: $size-minlarge;
    font-family: $font-primary;
    color: $color-secondary;
    font-weight: bold;
}

.form__inputs{
    @extend .my__input;
}

.form__check{
    font-size: $size-xsmall;
    font-family: $font-primary;
}

.form__check__container{
    height: 2rem;
    align-items: flex-end;
    display: flex;
    gap: 1rem;
    padding-left: 3rem;
}

.form-check-input {
    width: 1.5em;
    height: 1.5em;
    vertical-align: sub;
    background-color: $color-alternative-blue;
}

.form__labels__color{
    @extend .form__labels;
background-color: $color-alternative-blue;
font-family: $font-main;
font-size: $size-xsmall;
}

.accordion-flush{
    padding-top: 4%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.comments{
    margin-top: 2rem;
    width: 30rem;
    height: 15rem;
}

/*MEDIA QUERIES*/
@import"medias";
