@media (min-width: 576px){
    .nav__items{ 
        font-size: 1.2em;
        color: #FFFFFF;
    }
    .nav__items:hover{
        text-decoration: overline;
        text-decoration-thickness: 2px;
        transform: scale(1.1);
        color: #ffffff;
    }
    
    .titulo__pages{
        font-size: 3em;
    }

    .active>a{
        color: #07678F;
        text-decoration: overline ;
        text-decoration-thickness: 2px;
    }
}

@media (min-width: 768px){

    .nav__titulo{
       font-size: 4em;
       width: 400px;
    }
    .titulo__pages__container{
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        height: 20rem;
        padding-top: 3rem;
        padding-left: 2rem;
    }

    .titulo__pages{
        font-size: 4em;
    }

    .titulo__secundario{
        font-size: 2.5em;
    }

    .titulo__italic__bold {
        font-size: 2em;
        margin: 0%;
    }

    .parrafo__italic{
        font-size: 2.5em;
    }
    .parrafo{
        font-size: 2.5em;
    }
    .nav__banner__index {
        height: 40rem;
    }

    .nav__banner__destinations {
        height: 40rem;
    }

    .nav__banner__experiences {
        height: 40rem;
    }

    .seccion__intro__columnas{
        width: 300px;
    }

    .seccion__destinos__img{
        width: 25rem;
        height: 15rem;
    }
    .seccion__experiences__img {
        width: 45rem;
        height: 10rem;
    }

    .video{
        height: 30rem;
        width: 50rem;
    }

    .seccion__hotels__list{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .seccion__hotels__list__container__blue{
        height: 5rem;
    }

    .seccion__hotels__list__container__lgblue{
        height: 5rem;
    }

    .seccion__somedestinations__container{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1200px){
.nav__items{
    font-size: 1.4em;
    color: #FFFFFF;
    }
    .nav__banner__index {
        height: 55rem;

    }

    .nav__banner__destinations {
        height: 55rem;

    }
    .nav__banner__experiences {
        height: 55rem;

    }
    .nav__titulo {
        font-size: 5em;
        width: 500px;
}
.nav__titulo__container{
display: flex;
flex-wrap: nowrap;
align-items: flex-start;
justify-content: flex-start;
height: 20rem;
padding-top: 3rem;
padding-left: 2rem}

.titulo__secundario{
    font-size: 3em;
}

.titulo__pages{
    font-size: 5em;
}

.titulo__italic__bold {
    font-size: 2em;
    margin: 0%;
}

.parrafo__italic{
    font-size: 2.5em;
}

.seccion__intro{
    gap: 10rem;
}
.seccion__destinos__container {
    grid-template-columns: .1fr .1fr .1fr .1fr;
}

.seccion__experiences__container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    grid-column-gap: 5rem;
}

.seccion__experiences__img {
    height: 12rem;
    width: 55rem;
}

.video{
    height: 40rem;
    width: 70rem;
}

.seccion__hotels__list{
    padding-top: 3rem;
}

.seccion__somedestinations__container{
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
}

.seccion__somedestinations__caja {
    width: 330px;
    height: 80px;
}

.seccion__somedestinations__img {
    width: 330px;
    height: 80px;
}

.titulo__card{
    font-size: 1.5rem;
}
.parrafo__card{
    font-size: 1rem;
}
}