html {
    font-size: 62.5%;
}

body {
    margin: 0%;
    padding: 0;
}

.header {
    height: 60rem;
}

.nav {
    position: absolute;
    display: flex;
    width: 100%;
    height: 150px;
    background: rgba(0, 0, 0, 0.12);
    opacity: 0.9;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav__logo {
    width: 80px;
    height: 70px;
    padding-left: 2rem;
    padding-top: 5px;
}

.nav__lista {
    position: relative;
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: flex-end;
}

.nav__lista__items {
    position: relative;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 2em;
    line-height: 2em;
    padding: 10px 15px;
    font-weight: bold;
    transition: transform .5s ease;
}

.nav__lista__items:hover{
    text-decoration: underline;
    transform: scale(1.1)
}

.nav__lista__items__links {
    color: #ffffff;
    text-decoration: none;
}

.nav__banner__index {
    width: 100%;
    height: 60rem;
    background-image: url(./IMG/\(1\).jpg);
    background-size: cover;
    background-position-x: center;
    padding-top: 0%;
}
.nav__titulo {
    position: absolute;
    display: block;
    color: #FFFFFF;
    width: 700px;
    height: 233px;
    left: 43px;
    top: 240px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 70px;
    line-height: 100%;
    color: #FFFFFF;
    text-shadow: 2px 2px 8px #00000053;
}

.nav__titulo__color {
    color: #07678F;
    text-shadow: 2px 2px 8px #00000053;
}

.titulo__secundario {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 67px;
    color: #0CBAD3;
    text-align: center;
    margin: 1.5rem;
}

.titulo__italic__bold {
    font-weight: bold;
    font-size: 30px;
    margin: 0%;
}
.parrafo {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    color: #000000;
    text-align: center;
    padding: 0%;
    margin: 0;
}

.parrafo-italic {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #000000;
    text-align: center;
    padding: 0%;
    margin: 0;
}

.button {
    border-radius: 20px;
    position: relative;
    color: #FFFFFF;
    background-color: #0CBAD3;
    border: none;
    width: 170px;
    height: 50px;
    margin: 2%;
    font-weight: bold;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seccion__texto {
    padding: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion__intro {
    position: relative;
    display: flex;
    padding-inline: 8rem;
    background-color: rgba(226, 214, 196, 0.35);
    padding-bottom: 2rem;
    flex-direction: column;
}

.seccion__intro__columnas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2.5rem;
    border-style: solid;
    border-radius: 2rem;
    border-color: #FFFFFF;
    border-width: 0.5rem;
}

.seccion__destinos {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}



.seccion__destinos__container {
    display: grid;
    padding-bottom: 4rem;
    grid-column: 1fr;
    grid-template-columns: .4fr .4fr;
    grid-template-rows: 1.1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 30px;
    justify-content: center;
    align-items: space-between;
}

.seccion__destinos__img {
    border-radius: 20px;
    width: 30rem;
    height: 20rem;
    transition: transform .5s ease-in-out;
}

.seccion__destinos__img:hover{
    transform: scale(1.1);
}

.seccion__testimonials{
    background-color: rgba(226, 214, 196, 0.35);
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.seccion__testimonials__caja {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding-right: 7%;
    padding-bottom: 7%;
    padding-left: 7%;
}

.seccion__experiences {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 50PX;
    PADDING-BOTTOM: 30PX;
    PADDING-top: 10PX;
}

.seccion__experiences__container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 50PX;
    PADDING-BOTTOM: 30PX;
    PADDING-top: 10PX;
}

.seccion__experiences__img {
    border-radius: 20px;
    width: 80rem;
    height: 15rem;
}

.footer {
    width: 100%;
    height: 50rem;
}